<div class="admin-body">
  <!-- #TODO Get the data from database -->
  <div class="admin-info-stats dashboard-info">
    <div class="admin-stats-block total-accounts-stats">
      <div class="admin-stats-icon-holder filter-first">
        <img
          src="../../../assets/icons/account-multiple.svg"
          alt="Account multiple icon"
          class="filter-blue"
        />
      </div>
      <div class="stats-info">
        <h3>124</h3>
        <p>Total accounts</p>
      </div>
    </div>
    <div class="admin-stats-block logins-stats">
      <div class="admin-stats-icon-holder filter-second">
        <img
          src="../../../assets/icons/account-clock.svg"
          alt="Account clock icon"
          class="filter-orange"
        />
      </div>
      <div class="stats-info">
        <h3>2</h3>
        <p>Logins last 30 days</p>
      </div>
    </div>
    <div class="admin-stats-block total-photographers-stats">
      <div class="admin-stats-icon-holder filter-third">
        <img
          src="../../../assets/icons/camera.svg"
          alt="Camera icon"
          class="filter-green"
        />
      </div>
      <div class="stats-info">
        <h3>12</h3>
        <p>Total photographers</p>
      </div>
    </div>
    <div class="admin-stats-block bookings-stats">
      <div class="admin-stats-icon-holder filter-fourth">
        <img
          src="../../../assets/icons/book-clock.svg"
          alt="Block clock icon"
          class="filter-red"
        />
      </div>
      <div class="stats-info">
        <h3>87</h3>
        <p>Bookings last 30 days</p>
      </div>
    </div>
  </div>
  <div class="admin-data-body">
    <form>
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Question</th>
            <th>Answer</th>
            <th>Operations</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td>
              <div class="form-row">
                <input type="text" />
              </div>
            </td>
            <td>
              <div class="form-row">
                <input type="text" />
              </div>
            </td>
            <td>
              <input
                type="submit"
                value="Insert"
                class="btn admin-insert-btn btn-full-style"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
