@import "../../styles.scss";

main {
  margin-top: 0;
  .sidebar {
    width: 16%;
    height: 100dvh;
    color: $white;
    background-color: $dark-green;
    padding: 2rem;
    @include flex(column, flex-start, nowrap, normal);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;

    h2 {
      font-size: 2em;
    }

    .sidebar-row {
      @include flex(row, space-between, nowrap, center);

      .ham-icon-holder {
        width: 35px;
        @include flex(column, baseline, nowrap, end);

        .line {
          background-color: $white;

          height: 3px;
          margin: 3.5px 0;

          &.line-1 {
            width: 70%;
          }

          &.line-2 {
            width: 85%;
          }

          &.line-3 {
            width: 55%;
          }
        }
      }
    }

    .sidebar-body {
      margin-top: 1.5rem;
      flex: 1;
      @include flex(column, start, nowrap, start);

      .sidebar-body-row {
        @include flex(row, start, nowrap, center);
        margin-top: 0.3rem;
        cursor: pointer;
        transition: $transition;
        position: relative;
        height: 40px;
        width: 100%;

        &:before {
          content: "";
          position: absolute;
          border-left: 4px solid $white;

          left: -1rem;
          height: 20px;
          opacity: 0;
          transition: opacity 0.3s ease;
        }
        &:hover,
        &.active {
          &:before {
            opacity: 1;
          }
        }

        img {
          width: 1.5rem;
          height: 1.5rem;

          &.filter-white {
            filter: invert(100%) sepia(0%) saturate(7448%) hue-rotate(47deg)
              brightness(112%) contrast(114%);
          }
        }

        span {
          margin-left: 1rem;
          font-size: 1.1em;
        }
      }
    }

    .sidebar-footer {
      height: 10%;
      font-size: 0.8em;
      @include flex(row, start, nowrap, end);
    }
  }

  .header {
    margin-left: 16%;
    padding: 2rem 3.5rem;
    @include flex(row, space-between, nowrap, normal);
    height: 15dvh;

    .page-info {
      width: 80%;
      @include flex(column, space-between, nowrap, start);

      h1 {
        margin-top: 0.3rem;
      }

      .breadcrumb {
        a {
          text-decoration: none;
          color: $black;
          font-weight: bold;

          &.breadcrumb-active {
            color: $grey;
            text-decoration: none;
            pointer-events: none;
          }
        }
      }
    }

    .admin-info {
      width: auto;

      .admin-info-top {
        @include flex(row, start, nowrap, center);
        img {
          width: 1.5rem;
          height: 1.5rem;
          margin-right: 0.8rem;
          cursor: pointer;

          &.filter-grey {
            filter: brightness(0) saturate(100%) invert(72%) sepia(9%)
              saturate(13%) hue-rotate(315deg) brightness(104%) contrast(85%);
          }

          &.user-icon {
            width: 3rem;
            height: 3rem;
            margin-right: 0;
            cursor: unset;
          }
        }

        p.admin-name {
          color: $dark-grey;
          &::after {
            font-family: FontAwesome;
            content: "\F107";
            margin-left: 0.3rem;
            cursor: pointer;
          }
        }
      }

      .admin-info-bottom {
        text-align: end;
        &::after {
          content: "\2026";
          font-size: 2.8em;
          color: $grey;
          position: relative;
          bottom: 0.6rem;
          cursor: pointer;
        }
      }
    }
  }

  .body {
    margin-left: 16%;
    width: 84%;
    height: 85dvh;
    background-color: $light-grey;
  }
}
