@import "../../styles.scss";

main {
  .sidebar {
    width: 16%;
    height: 100dvh;
    color: $white;
    background-color: $dark-green;
    padding: 2rem;
    @include flex(column, space-between, nowrap, normal);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;

    .sidebar-row {
      @include flex(row, space-between, nowrap, center);
      height: 10%;

      .ham-icon-holder {
        width: 15%;
        @include flex(column, baseline, nowrap, end);

        .line {
          background-color: $white;
          border-radius: $border-radius-2;
          height: 3px;
          margin: 3.5px 0;

          &.line-1 {
            width: 60%;
          }

          &.line-2 {
            width: 80%;
          }

          &.line-3 {
            width: 50%;
          }
        }
      }
    }

    .sidebar-body {
      height: 80%;
      @include flex(column, start, nowrap, start);

      .sidebar-body-row {
        @include flex(row, start, nowrap, center);
        margin-top: 1rem;
        cursor: pointer;
        transition: $transition;
        position: relative;
        height: 40px;
        width: 100%;

        &:before {
          content: "";
          position: absolute;
          border-left: 4px solid $white;
          border-radius: $border-radius;
          left: -1rem;
          height: 20px;
          opacity: 0;
          transition: opacity 0.3s ease;
        }
        &:hover {
          &:before {
            opacity: 1;
          }
        }

        img {
          width: 1.5rem;
          height: 1.5rem;

          &.filter-white {
            filter: invert(100%) sepia(0%) saturate(7448%) hue-rotate(47deg)
              brightness(112%) contrast(114%);
          }
        }

        a {
          margin-left: 1rem;
          font-size: 1.1em;
        }
      }
    }

    .sidebar-footer {
      height: 10%;
      font-size: 0.8em;
      @include flex(row, start, nowrap, end);
    }
  }
}
