<main>
  <section class="sidebar">
    <div class="sidebar-row">
      <h2>Admin.</h2>
      <div class="ham-icon-holder">
        <div class="line line-1"></div>
        <div class="line line-2"></div>
        <div class="line line-3"></div>
      </div>
    </div>
    <div class="sidebar-body">
      <div class="sidebar-body-row">
        <img
          src="../../assets/img/icons/view-dashboard.svg"
          alt="View dashboard icon"
          class="filter-white"
        />
        <a>Dashboard</a>
      </div>
      <div class="sidebar-body-row">
        <img
          src="../../assets/img/icons/account-circle.svg"
          alt="Account circle icon"
          class="filter-white"
        />
        <a>Users & Roles</a>
      </div>
      <div class="sidebar-body-row">
        <img
          src="../../assets/img/icons/post.svg"
          alt="Post icon"
          class="filter-white"
        />
        <a>Blogs</a>
      </div>
      <div class="sidebar-body-row">
        <img
          src="../../assets/img/icons/earth.svg"
          alt="Earth icon"
          class="filter-white"
        />
        <a>Countries & Places</a>
      </div>
      <div class="sidebar-body-row">
        <img
          src="../../assets/img/icons/help-circle.svg"
          alt="Help circle icon"
          class="filter-white"
        />
        <a>FAQs</a>
      </div>
      <div class="sidebar-body-row">
        <img
          src="../../assets/img/icons/server-outline.svg"
          alt="Server outline icon"
          class="filter-white"
        />
        <a>Surveys</a>
      </div>
      <div class="sidebar-body-row">
        <img
          src="../../assets/img/icons/camera.svg"
          alt="Camera icon"
          class="filter-white"
        />
        <a>Photographers</a>
      </div>
      <div class="sidebar-body-row">
        <img
          src="../../assets/img/icons/bed.svg"
          alt="Bed icon"
          class="filter-white"
        />
        <a>Hotels</a>
      </div>
      <div class="sidebar-body-row">
        <img
          src="../../assets/img/icons/airplane.svg"
          alt="Airplane icon"
          class="filter-white"
        />
        <a>Traveling & Destinations</a>
      </div>
      <div class="sidebar-body-row">
        <img
          src="../../assets/img/icons/book-multiple.svg"
          alt="Book multiple icon"
          class="filter-white"
        />
        <a>Bookings</a>
      </div>
    </div>
    <div class="sidebar-footer">
      <p>JourneyEase 2023 &copy; All rights reserved</p>
    </div>
  </section>

  <router-outlet />
</main>
