<main>
  <section class="sidebar">
    <div class="sidebar-row">
      <h2>Admin.</h2>
      <div class="ham-icon-holder">
        <div class="line line-1"></div>
        <div class="line line-2"></div>
        <div class="line line-3"></div>
      </div>
    </div>
    <div class="sidebar-body">
      <div
        class="sidebar-body-row"
        [routerLink]="['./dashboard']"
        routerLinkActive="active"
      >
        <img
          src="../../assets/icons/view-dashboard.svg"
          alt="View dashboard icon"
          class="filter-white"
        />
        <span>Dashboard</span>
      </div>
      <div class="sidebar-body-row">
        <img
          src="../../assets/icons/account-circle.svg"
          alt="Account circle icon"
          class="filter-white"
        />
        <span>Users & Roles</span>
      </div>
      <div
        class="sidebar-body-row"
        [routerLink]="['./blog']"
        routerLinkActive="active"
      >
        <img
          src="../../assets/icons/post.svg"
          alt="Post icon"
          class="filter-white"
        />
        <span>Blogs</span>
      </div>
      <div
        class="sidebar-body-row"
        [routerLink]="['./countries-and-places']"
        routerLinkActive="active"
      >
        <img
          src="../../assets/icons/earth.svg"
          alt="Earth icon"
          class="filter-white"
        />
        <span>Countries & Places</span>
      </div>
      <div
        class="sidebar-body-row"
        [routerLink]="['./faqs']"
        routerLinkActive="active"
      >
        <img
          src="../../assets/icons/help-circle.svg"
          alt="Help circle icon"
          class="filter-white"
        />
        <span>FAQs</span>
      </div>
      <div class="sidebar-body-row">
        <img
          src="../../assets/icons/server-outline.svg"
          alt="Server outline icon"
          class="filter-white"
        />
        <span>Surveys</span>
      </div>
      <div class="sidebar-body-row">
        <img
          src="../../assets/icons/camera.svg"
          alt="Camera icon"
          class="filter-white"
        />
        <span>Photographers</span>
      </div>
      <div class="sidebar-body-row">
        <img
          src="../../assets/icons/bed.svg"
          alt="Bed icon"
          class="filter-white"
        />
        <span>Hotels</span>
      </div>
      <div class="sidebar-body-row">
        <img
          src="../../assets/icons/airplane.svg"
          alt="Airplane icon"
          class="filter-white"
        />
        <span>Traveling & Destinations</span>
      </div>
      <div class="sidebar-body-row">
        <img
          src="../../assets/icons/book-multiple.svg"
          alt="Book multiple icon"
          class="filter-white"
        />
        <span>Bookings</span>
      </div>
    </div>
    <div class="sidebar-footer">
      <p>JourneyEase 2023 &copy; All rights reserved</p>
    </div>
  </section>

  <section class="header">
    <div class="page-info">
      <h1 class="page-title">Dashboard</h1>
      <div class="breadcrumb">
        <a [routerLink]="['./dashboard']" routerLinkActive="breadcrumb-active"
          >Home</a
        >
        @for (nav of segments; let i = $index; track nav) { >
        <a
          [routerLink]="['./', nav | lowercase]"
          [ngClass]="{ 'breadcrumb-active': indexOflastActive === i }"
          >{{ nav }}</a
        >
        }
      </div>
    </div>
    <div class="admin-info">
      <div class="admin-info-top">
        <img
          src="../../assets/icons/bell.svg"
          alt="Bell icon"
          class="bell-icon filter-grey"
        />
        <img
          src="../../assets/icons/email-outline.svg"
          alt="Email outline icon"
          class="message-icon filter-grey"
        />
        <img
          src="../../assets/icons/account-circle.svg"
          alt="Account circle icon"
          class="user-icon filter-grey"
        />
        <p class="admin-name">Admin name</p>
      </div>
      <div class="admin-info-bottom"></div>
    </div>
  </section>

  <section class="body"><router-outlet /></section>
</main>
@if (textReviewModalStatus) {
<app-text-review-modal
  [title]="textReviewModalTitle"
  [text]="textReviewModalText"
/>
} @else if (photoModalStatus) {
<app-photo-modal [imagesArray]="imagesArray" />
} @else if (textEditingModalStatus) {
<app-text-editing-modal [key]="whatIsEdited" />
} @else if (postEditModalStatus && selectedPost) {
<app-post-edit-modal [post]="selectedPost" />
}
