@import "../../../styles.scss";
.input-text {
  width: 100%;
  position: relative;
  height: 100%;
  input {
    width: 100%;
    padding-left: 1rem;
    font-size: 1.1em;
    font-weight: bold;
    border: none;
    outline: none;
    height: 100%;
  }
  .invalid-feedback {
    position: absolute;
    color: $red;
    font-weight: bold;
    font-size: 0.9em;
    margin: 0.25rem 0;
  }
}
