<router-outlet />
@if (blogStats$ | async; as stats) {
<div class="admin-body">
  <div class="admin-info-stats dashboard-info">
    <div class="admin-stats-block total-accounts-stats">
      <div class="admin-stats-icon-holder filter-first">
        <img
          src="../../../assets/icons/post.svg"
          alt="Account multiple icon"
          class="filter-blue"
        />
      </div>
      <div class="stats-info">
        <h3>{{ stats.totalBlog }}</h3>
        <p>Total blog</p>
      </div>
    </div>
    <div class="admin-stats-block logins-stats">
      <div class="admin-stats-icon-holder filter-second">
        <img
          src="../../../assets/icons/account-check.svg"
          alt="Account clock icon"
          class="filter-orange"
        />
      </div>
      <div class="stats-info">
        <h3>{{ stats.totalAuthors }}</h3>
        <p>Total number of authors</p>
      </div>
    </div>
    <div class="admin-stats-block total-photographers-stats">
      <div class="admin-stats-icon-holder filter-third">
        <img
          src="../../../assets/icons/account-arrow-up.svg"
          alt="Camera icon"
          class="filter-green"
        />
      </div>
      <div class="stats-info">
        <h3>{{ stats.topAuthor }}</h3>
        <p>Top author</p>
      </div>
    </div>
    <div class="admin-stats-block bookings-stats">
      <div class="admin-stats-icon-holder filter-fourth">
        <img
          src="../../../assets/icons/comment-text-multiple.svg"
          alt="Block clock icon"
          class="filter-red"
        />
      </div>
      <div class="stats-info">
        <h3>{{ stats.totalComments }}</h3>
        <p>Total number of comments</p>
      </div>
    </div>
  </div>
  <div class="admin-data-body">
    <form>
      <div class="form-row">
        <label>Search for post title or author name: </label>
        <input
          type="text"
          [formControl]="searchValue"
          placeholder="Search..."
        />
      </div>
    </form>
    <form
      [formGroup]="postForm"
      (ngSubmit)="onInsertPost()"
      enctype="multipart/form-data"
    >
      <table>
        <thead>
          <tr>
            @for (key of postKeys; track key) {
            <th>
              {{ key }} @if (key === 'Post Id' || key === 'Post Date') {
              <img
                src="assets/icons/sort.svg"
                alt="sort svg icon"
                class="sort"
                (click)="orderBy(key)"
              />
              }
            </th>
            }
            <th>Operations</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td>
              <div class="form-row">
                <input
                  type="text"
                  formControlName="postTitle"
                  placeholder="New..."
                />
              </div>
            </td>
            <td>
              <img
                style="cursor: pointer; width: 25px; height: 25px"
                src="assets/icons/pencil-plus.svg"
                alt="pencil plus svg icon"
                (click)="openTextEditingModal('postContent')"
              />
            </td>
            <td>
              <img
                style="cursor: pointer; width: 30px; height: 30px"
                src="assets/icons/upload.svg"
                alt="upload svg icon"
                (click)="uploadImage()"
              />
              <input
                type="file"
                #fileInput
                (change)="onImageInputChange(fileInput)"
                accept=".png, .jpg"
              />
            </td>
            <td></td>
            <td>
              <div class="form-row">
                <input
                  type="text"
                  formControlName="creatorName"
                  placeholder="New..."
                />
              </div>
            </td>
            <td>
              <img
                style="cursor: pointer; width: 25px; height: 25px"
                src="assets/icons/pencil-plus.svg"
                alt="pencil plus svg icon"
                (click)="openTextEditingModal('postDescription')"
              />
            </td>
            <td>
              <input
                type="submit"
                value="Insert"
                class="btn admin-insert-btn btn-full-style"
                [disabled]="!postForm.valid || !imageUploaded"
              />
            </td>
          </tr>
          @for (post of blog; track post.postId) {
          <tr>
            <td>{{ post.postId }}</td>
            <td class="text-continues">
              {{ post.postTitle }}
            </td>
            <td
              style="cursor: pointer; font-weight: bold; font-size: 1.5em"
              (click)="openTextReviewModal(post.postContent, post.postTitle)"
            >
              ...
            </td>
            <td>
              <div
                class="admin-post-img"
                (click)="openPhotoModal(post.postImageUrl)"
              >
                <img src="{{ post.postImageUrl }}" alt="Post image" />
                <div class="black-drop">View</div>
              </div>
            </td>
            <td>{{ post.postDate | date : "longDate" }}</td>
            <td class="text-continues">{{ post.creatorName }}</td>
            <td
              (click)="
                openTextReviewModal(post.postDescription, post.postTitle)
              "
              style="font-weight: bold; font-size: 1.5em; cursor: pointer"
            >
              ...
            </td>
            <td class="operation-td" (click)="onRowAction(post.postId)">
              <div
                class="operations-menu hidden operations-menu-post-{{
                  post.postId
                }}"
              >
                <span (click)="onPostCommentRow(post.postId)"> Comments </span>
                <span class="admin-edit-span" (click)="onEditPostRow(post)">
                  Edit</span
                >
                <span
                  class="admin-delete-span"
                  (click)="onDeletePostRow(post.postId)"
                >
                  Delete</span
                >
              </div>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </form>
    @if (pagination && blog.length && pagination.totalPages > 1) {
    <app-pagination
      [currentPage]="pagination.currentPage"
      [itemsPerPage]="pagination.itemsPerPage"
      [paginationType]="'blog'"
      [totalPages]="pagination.totalPages"
      [direction]="stateDirection"
      [orderingColumn]="stateOrderingColumn"
    />
    } @if (!blog.length) {
    <h3 class="nothing-found">No blog found for searched value.</h3>
    }
  </div>
</div>
}
