/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

// Colors
$white: #ffffff;
$snow-white: #e7e7e7;
$black: #1a1a1a;
$dark-green: #1f4a38;
$green: #3a6955;
$light-green: #10bc7e;
$ultra-light-green: #ccffd7;
$lime-green: #00db30;
$dark-grey: #5b5b5b;
$grey: #b8b8b8;
$light-grey: #f6f6f6;
$ultra-light-grey: #ededed;
$blue: #5b9dff;
$blue-2: #267dff;
$ultra-light-blue: #dae9ff;
$red: #ff2e2e;
$light-red: #fe6969;
$ultra-light-red: #fed8d8;
$orange: #ffb906;
$ultra-light-orange: #fff1cd;

// Application
$transition: 0.3s;
$border-radius: 5px;
$border-radius-2: 10px;
$section-padding: 0 6%;
$box-shadow-hover: 0px 0px 5px 0px $light-green;
$box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

// Mixins
@mixin border($width: 1px, $style: solid, $color: $light-green) {
  border: $width $style $color;
}
@mixin flex($direction, $justify, $wrap, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  flex-wrap: $wrap;
  align-items: $align;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quattrocento Sans", "Font Awesome 5 Free", sans-serif;
  list-style-type: none;
}

.btn {
  padding: 0.75rem 1rem;
  font-size: 1em;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
  border-radius: $border-radius;
  transition: $transition;
  @include border();
  &.btn-empty-style {
    color: $light-green;
  }
  &.btn-full-style {
    background-color: $light-green;
    color: $white;
  }

  &.btn-empty-style:hover {
    -webkit-box-shadow: $box-shadow-hover;
    -moz-box-shadow: $box-shadow-hover;
    box-shadow: $box-shadow-hover;
  }
  &.btn-full-style:hover {
    -webkit-box-shadow: $box-shadow-hover;
    -moz-box-shadow: $box-shadow-hover;
    box-shadow: $box-shadow-hover;
  }

  &.admin-insert-btn {
    padding: 0.3rem 1.5rem;
  }
}
.green-text {
  color: $light-green;
}

.form-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;

  input[type="email"],
  input[type="password"],
  input[type="tel"],
  input[type="text"],
  select {
    padding: 0.5rem 1rem;
    border-radius: $border-radius;
    box-shadow: $box-shadow !important;
    font-size: 1em !important;
    border: none;
    outline: none;
    color: $dark-grey;
    font-weight: bold;
  }
  .invalid-feedback {
    color: $red;
    font-weight: bold;
    margin: 0.25rem 0;
  }

  input:focus {
    outline: none;
  }

  input[type="submit"] {
    width: 100px;
    margin: 0 auto;
    cursor: pointer;
    border: none;
    border-radius: $border-radius;
    background-color: $light-green;
    color: $light-grey;
    transition: $transition;
    &:hover {
      -webkit-box-shadow: $box-shadow-hover;
      -moz-box-shadow: $box-shadow-hover;
      box-shadow: $box-shadow-hover;
    }
    &:disabled {
      background-color: $grey;
      cursor: default;
      &:hover {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }
    }
  }
  input[type="checkbox"] {
    width: 1.5rem;
    height: 1.5rem;
    accent-color: $light-green;
  }

  a.form-switch-line {
    font-size: 0.9em;
    margin: 2rem auto 0;
    color: $blue;
    text-decoration: underline;
    cursor: pointer;
    text-align: center;
  }
}

.admin-body {
  padding: 2rem 3.5rem;
  @include flex(column, space-between, nowrap, normal);
  height: 100%;

  .admin-info-stats {
    @include flex(row, space-between, nowrap, center);

    .admin-stats-block {
      @include flex(row, flex-start, nowrap, center);
      background-color: $white;
      border-radius: $border-radius-2;
      padding: 1.3rem 2.8rem;
      width: 22%;
      // #FIXME pogledati rezultate
      box-shadow: $box-shadow;

      .admin-stats-icon-holder {
        background-color: $grey;
        width: 3.5rem;
        height: 3.5rem;
        @include flex(row, center, nowrap, center);
        border-radius: 50%;

        &.filter-first {
          background-color: $ultra-light-blue;
        }
        &.filter-second {
          background-color: $ultra-light-orange;
        }
        &.filter-third {
          background-color: $ultra-light-green;
        }
        &.filter-fourth {
          background-color: $ultra-light-red;
        }

        img {
          height: 2.2rem;
          width: 2.2rem;

          &.filter-blue {
            filter: invert(37%) sepia(25%) saturate(6460%) hue-rotate(208deg)
              brightness(107%) contrast(100%);
          }
          &.filter-orange {
            filter: invert(67%) sepia(91%) saturate(984%) hue-rotate(354deg)
              brightness(103%) contrast(102%);
          }
          &.filter-green {
            filter: invert(69%) sepia(29%) saturate(6255%) hue-rotate(87deg)
              brightness(98%) contrast(109%);
          }
          &.filter-red {
            filter: invert(35%) sepia(20%) saturate(6475%) hue-rotate(341deg)
              brightness(100%) contrast(107%);
          }
        }
      }

      .stats-info {
        height: 3rem;
        @include flex(column, space-between, nowrap, start);
        margin-left: 1rem;
        p {
          color: $grey;
        }
      }
    }
  }

  .admin-data-body {
    background-color: $white;
    width: 100%;
    height: 82%;
    box-shadow: $box-shadow;
    border-radius: $border-radius-2;
    padding: 2rem 2.8rem;
    overflow: auto;

    form {
      table {
        text-align: center;
        thead {
          th {
            padding: 0 1rem;
          }
        }
        tbody {
          td {
            padding: 0.5rem 0.5rem;
            color: $dark-grey;
            .form-row {
              margin-top: 0;
            }

            &.operation-td {
              cursor: pointer;
              position: relative;
              &::after {
                content: "\2807";
                font-size: 1.5em;
                color: #b8b8b8;
                margin-left: 0.5rem;
              }
            }
          }

          .operations-menu {
            @include flex(column, center, nowrap, center);
            position: absolute;
            top: 2.5rem;
            left: 50%;
            transform: translateX(-50%);
            background-color: $white;
            border-radius: $border-radius-2;
            @include border(1px, solid, $dark-grey);
            z-index: 3;
            display: grid;

            &.hidden {
              display: none;
            }

            span {
              width: 100%;
              padding: 0.6rem 2rem;
              cursor: pointer;
              &:nth-child(1) {
                border-bottom: solid 1px $dark-grey;
              }

              &.admin-edit-span {
                font-weight: bold;
                color: $orange;
              }

              &.admin-delete-span {
                font-weight: bold;
                color: $red;
              }
            }
          }
        }
      }
    }
  }
}
