/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

// Colors
$white: #ffffff;
$snow-white: #e7e7e7;
$black: #1a1a1a;
$dark-green: #1f4a38;
$green: #3a6955;
$light-green: #10bc7e;
$ultra-light-green: #ccffd7;
$lime-green: #00db30;
$dark-grey: #5b5b5b;
$grey: #b8b8b8;
$light-grey: #f6f6f6;
$ultra-light-grey: #ededed;
$blue: #5b9dff;
$blue-2: #267dff;
$ultra-light-blue: #dae9ff;
$red: #ff2e2e;
$light-red: #fe6969;
$ultra-light-red: #fed8d8;
$orange: #ffb906;
$ultra-light-orange: #fff1cd;

// Application
$transition: 0.3s;
$border-radius: 5px;
$border-radius-2: 10px;
$section-padding: 0 6%;
$box-shadow-hover: 0px 0px 5px 0px $light-green;
$box-shadow-blocks: 0 5px 15px $black;

// Mixins
@mixin border($width: 1px, $style: solid, $color: $light-green) {
  border: $width $style $color;
}
@mixin flex($direction, $justify, $wrap, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  flex-wrap: $wrap;
  align-items: $align;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quattrocento Sans", "Font Awesome 5 Free", sans-serif;
  list-style-type: none;
}

.btn {
  padding: 0.75rem 1rem;
  font-size: 1em;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
  border-radius: $border-radius;
  transition: $transition;
  @include border();
  &.btn-empty-style {
    color: $light-green;
  }
  &.btn-full-style {
    background-color: $light-green;
    color: $white;
  }

  &.btn-empty-style:hover {
    -webkit-box-shadow: $box-shadow-hover;
    -moz-box-shadow: $box-shadow-hover;
    box-shadow: $box-shadow-hover;
  }
  &.btn-full-style:hover {
    -webkit-box-shadow: $box-shadow-hover;
    -moz-box-shadow: $box-shadow-hover;
    box-shadow: $box-shadow-hover;
  }
}
.green-text {
  color: $light-green;
}

.form-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;

  label {
    font-size: 1em;
    margin-bottom: 0.35rem;
  }

  input[type="email"],
  input[type="password"],
  input[type="tel"],
  input[type="text"],
  select {
    @include border(1px, solid, $dark-grey);
    padding: 0.5rem 1rem;
    border-radius: $border-radius;
    width: 100%;
    font-size: 1em;
  }

  input:focus {
    outline: none;
  }

  input[type="submit"] {
    cursor: pointer;
    border: none;
    border-radius: $border-radius;
    background-color: $light-green;
    color: $light-grey;
    transition: $transition;
  }

  input[type="submit"]:hover {
    -webkit-box-shadow: $box-shadow-hover;
    -moz-box-shadow: $box-shadow-hover;
    box-shadow: $box-shadow-hover;
  }

  input[type="checkbox"] {
    width: 1.5rem;
    height: 1.5rem;
    accent-color: $light-green;
  }

  a.form-switch-line {
    font-size: 0.9em;
    margin-top: 2rem;
    color: $blue;
    text-decoration: underline;
    cursor: pointer;
  }
}
