<div class="testimonials-block">
  <h2 class="hidden-scale-in hidden-el">
    <span class="green-text">JourneyEase</span> customer testimonials
  </h2>
  <div class="testimonials-holder">
    <div class="testimonial hidden-testimonial hidden-el">
      <div class="testimonial-top">
        <p>
          "My journey with JourneyEase was beyond amazing! Their meticulous
          planning, from personalized itineraries to knowledgeable guides, made
          every moment unforgettable. As a Marketing Specialist from New York, I
          appreciate the attention to detail. Looking forward to my next
          adventure with JourneyEase!"
        </p>
        <div class="testimonial-user-img-holder">
          <img
            src="../../../assets/user-img/testimonial-user-danilo-katic.jpg"
            alt="Testimonial user Danilo Katic"
          />
        </div>
      </div>
      <div class="testimonial-bottom">
        <h3>Danilo Katic</h3>
        <p class="testimonial-profession">Marketing Specialist</p>
        <p class="testimonial-location">
          <i class="fa-solid fa-location-dot"></i> Belgrade, Serbia
        </p>
      </div>
    </div>
    <div class="testimonial hidden-testimonial hidden-el">
      <div class="testimonial-top">
        <p>
          "My cultural journey with JourneyEase in Serbia was incredible! They
          masterfully blended historical sites with local experiences. Being
          from Sarajevo, the attention to showcasing the beauty of the
          neighboring country was heartwarming. JourneyEase made my travel
          dreams a reality, and I can't wait for the next adventure!"
        </p>
        <div class="testimonial-user-img-holder">
          <img
            src="../../../assets/user-img/testimonial-user-lejla-kadic.jpg"
            alt="Testimonial user Lejla Kadic"
          />
        </div>
      </div>
      <div class="testimonial-bottom">
        <h3>Lejla Kadic</h3>
        <p class="testimonial-profession">Art Historian</p>
        <p class="testimonial-location">
          <i class="fa-solid fa-location-dot"></i> Sarajevo, Bosnia
        </p>
      </div>
    </div>
    <div class="testimonial hidden-testimonial hidden-el">
      <div class="testimonial-top">
        <p>
          "Exploring Serbia with JourneyEase was a nature lover's dream! From
          the majestic Studenica Monastery to the vibrant city life of Belgrade,
          every moment was captivating. As an Environmental Scientist from
          Sofia, I appreciated the eco-friendly approach. JourneyEase made my
          Serbian journey unforgettable, and I'm eager for more!"
        </p>
        <div class="testimonial-user-img-holder">
          <img
            src="../../../assets/user-img/testimonial-user-stefan-petrov-.jpg"
            alt="Testimonial user Stefan Petrov"
          />
        </div>
      </div>
      <div class="testimonial-bottom">
        <h3>Stefan Petrov</h3>
        <p class="testimonial-profession">Environmental Scientist</p>
        <p class="testimonial-location">
          <i class="fa-solid fa-location-dot"></i> Sofia, Bulgaria
        </p>
      </div>
    </div>
  </div>
</div>
