@import "../../../styles.scss";

.testimonials-block {
  margin: 0 auto;
  width: 60%;
  padding: 0 2rem 2rem;

  .testimonials-holder {
    margin-top: 3rem;

    .testimonial {
      background: linear-gradient(to bottom, $light-grey, $ultra-light-grey);
      padding: 3rem 4rem;
      margin-bottom: 1.5rem;
      border-radius: $border-radius-2;

      &:last-child {
        margin-bottom: 0;
      }

      &:nth-child(even) {
        .testimonial-top {
          flex-direction: row-reverse;
        }

        .testimonial-bottom {
          text-align: end;

          .testimonial-location {
            display: flex;
            justify-content: end;
            flex-direction: row-reverse;

            i {
              margin-left: 0.2rem;
            }
          }
        }
      }

      .testimonial-top {
        @include flex(row, space-between, nowrap, center);

        p {
          width: 80%;
          color: $dark-grey;
          font-style: italic;
        }

        .testimonial-user-img-holder {
          width: 7rem;
          height: 7rem;
          border-radius: 100%;
          background-color: $white;
          @include flex(row, center, nowrap, center);

          img {
            width: 88%;
            border-radius: 100%;
          }
        }
      }

      .testimonial-bottom {
        margin-top: 2rem;

        h3 {
          text-transform: uppercase;
        }

        p {
          margin-top: 0.3rem;

          &.testimonial-profession {
            color: $dark-grey;
            font-style: italic;
          }

          &.testimonial-location {
            color: $blue;
          }
        }
      }

      // ANIMATION
      &.hidden-testimonial {
        opacity: 0;
        transform: translateX(-100%);
        transition: all 1.5s;
      }

      &.hidden-testimonial:nth-child(even) {
        transform: translateX(100%);
      }

      &.show-testimonial {
        opacity: 1;
        transform: translateX(0);
      }

      &.show-testimonial:nth-child(even) {
        transform: translateX(0);
      }

      &:nth-child(2) {
        transition-delay: 100ms;
      }

      &:nth-child(3) {
        transition-delay: 200ms;
      }
    }
  }
}
