<form [formGroup]="searchForm" (ngSubmit)="search()">
  <div class="input-element">
    <app-text-input
      [formControl]="$any(searchForm.controls['searchValue'])"
      [label]="'Find your destination...'"
    />
  </div>
  <div class="season-select">
    <select>
      <option value="0">Season</option>
      @for (season of (seasons$ | async); track season) {
      <option value="{{ season.id }}">{{ season.name }}</option>
      }
    </select>
  </div>
  <input type="submit" value="Search" class="btn btn-full-style" />
</form>
