@import "../../../styles.scss";
form {
  width: 99%;
  margin: 0 auto;
  @include flex("row", "flex-start", "nowrap", center);
  height: 50px;
  background-color: $white;
  box-shadow: $box-shadow;
  padding-right: 0.5rem;

  .input-element {
    flex: 1;
    height: 100%;
  }
  input[type="submit"] {
    width: 100px;
    padding: 0.5rem;
  }
  .season-select {
    width: 120px;
    margin: 0 0.75rem;
    cursor: pointer;
    padding-right: 0.5rem;
    box-shadow: $box-shadow;
    select {
      background-color: transparent;
      padding: 0.5rem;
      height: 100%;
      cursor: pointer;
      outline: none;
      width: 100%;
      font-size: 1em;
      font-weight: bold;
      color: $dark-grey;
      border: none;
    }
  }
}
