<div class="about-us-holder">
  <div class="info-holder">
    <div class="about-us-cover-img"></div>
    <div class="info">
      <h2 class="section-title">About JourneyEase</h2>
      <h3>Behind Every Journey Lies A Story - Ours Begins Here</h3>
      <p>
        At JourneyEase, we're more than just travel enthusiasts; we're
        storytellers, dreamers, and explorers. Our passion for adventure fuels
        every itinerary we craft, every destination we explore, and every memory
        we create. Get to know the faces and voices behind our journey as we
        share our mission, values, and commitment to redefining travel
        experiences.
      </p>
      <button class="btn btn-full-style">Discover Our Story</button>
    </div>
  </div>
</div>
