<div class="opportunity-block">
  <h2 class="hidden-scale-in hidden-el section-title">
    Join Our Photography Community
  </h2>
  <div class="img-holder-1 hidden-el hidden-scale-in">
    <img
      src="../../../assets/img/photographer-piramide.jpg"
      alt="Photographing piramide"
    />
  </div>
  <div class="img-holder-2 hidden-el hidden-right">
    <img
      src="../../../assets/img/photographer-travels.jpg"
      alt="Photographer travels"
    />
  </div>
  <div class="info-holder hidden-el hidden-left">
    <h3>Capture memories, create journeys</h3>
    <h4>
      Transform Your Passion into Profession: Become a Travel Photographer with
      <span class="green-text">JourneyEase</span>.
    </h4>
    <p>
      At <span class="green-text">JourneyEase</span>, we offer you the
      opportunity to turn your love for travel and photography into a rewarding
      career. Join our community of talented photographers and embark on a
      journey where every click captures unforgettable moments. Whether you're
      an amateur enthusiast or a seasoned pro, our platform provides the
      resources and support you need to thrive.
    </p>
    <button class="btn btn-empty-style">Start Your Journey</button>
  </div>
</div>
