@import "../../../styles.scss";

.opportunity-block {
  position: relative;
  min-height: 100dvh;
  height: 100dvh;
  overflow: hidden;

  .img-holder-1 {
    position: absolute;
    width: 35%;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    z-index: -1;

    img {
      width: 100%;
      border-radius: $border-radius;
      box-shadow: $box-shadow;
    }
  }

  .img-holder-2 {
    position: absolute;
    width: 25%;
    top: 20%;
    right: 15%;
    z-index: -1;

    img {
      border-radius: $border-radius;
      width: 100%;
      box-shadow: $box-shadow;
    }
  }

  .info-holder {
    background-color: $white;
    box-shadow: $box-shadow;
    width: 50%;
    padding: 3rem;
    @include flex(column, space-between, nowrap, start);
    min-height: 20rem;
    position: absolute;
    top: 53%;
    left: 15%;
    border-radius: $border-radius;

    h3 {
      text-transform: uppercase;
      color: $dark-grey;
      font-size: 1.5em;
    }

    h4 {
      color: $grey;
      font-weight: lighter;
    }

    p {
      color: $dark-grey;
    }
  }
}
