<main>
  <section class="cover">
    <div class="cover-image"></div>
    <div class="cover-content">
      <h1>
        Journey with Purpose, Journey with Passion: Experience the World Anew
        with <span class="green-text">JourneyEase</span>, Your Gateway to
        Unparalleled Adventures.
      </h1>
      <p>
        Embark on Unforgettable Journeys with JourneyEase: Where Seamless
        Planning Meets Extraordinary Adventures, Crafting Tailored Experiences
        That Turn Every Destination into a Story Worth Telling.
      </p>
      <div class="search">
        <app-search-home />
      </div>
    </div>
  </section>
  <section #testimonialsTrigger class="moto">
    <div class="moto-text">
      &ldquo;The world is a book, and those who do not travel read only one
      page.&rdquo; - Saint Augustine
    </div>
  </section>
  <section class="testimonials">
    @defer (on viewport(testimonialsTrigger)) {
    <app-testimonials />
    }
  </section>
</main>
