<main>
  <section class="auth-container">
    <div class="auth-text">
      <div class="sign-in">
        <h2>
          Sign in to <span class="green-text">JourneyEase</span> and discover a
          world of hassle-free travel planning.
        </h2>
        <p>
          Unlock exclusive deals, personalized itineraries, and seamless booking
          services. Your next adventure awaits!
        </p>
      </div>
      <!-- #TODO -->
      <!-- <div class="sign-up">
        <h2></h2>
      </div> -->
    </div>
    <div class="auth-forms">
      <app-sign-in class="sign-in-form" />
    </div>
  </section>
</main>
