@import "../../styles.scss";

main {
  position: absolute;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100%;
  z-index: -1;
  background: linear-gradient(0deg, $grey, $white);
  @include flex(row, start, nowrap, center);

  .auth-container {
    width: 60%;
    margin: 0 auto;
    background-image: url("../../assets/img/newsky.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include flex(row, start, nowrap, normal);
    border-radius: 10px;
    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
    max-height: 60%;
    height: 60%;

    .auth-text {
      width: 50%;
      padding: 8rem 5rem;
      color: $white;
      background-color: $dark-green;
      background-image: url("../../assets/img/leaf-texture-2.png");
      background-position: center;
      background-size: cover;
      border-radius: $border-radius-2 $border-radius-2 $border-radius-2
        $border-radius-2;
      @include flex(row, center, nowrap, center);
      position: relative;
      left: 25%;
      z-index: 2;
      overflow: hidden;
      transition: all 0.5s ease-in-out;

      h2 {
        font-size: 2em;
      }

      h3 {
        font-size: 1.6em;
        font-weight: 100;
      }

      p {
        margin-top: 2rem;
        font-size: 1.3em;
      }

      a {
        color: $blue;
      }

      button.btn.btn-empty-style {
        color: $white;
        margin: 2rem auto 0;
        display: flex;
        align-items: center;
      }

      .sign-in-text,
      .sign-up-text {
        position: absolute;
        width: 70%;
        transition: all 0.5s ease-in-out;
      }

      .sign-in-text {
        left: -125%;
      }
      .sign-up-text {
        right: -180%;
      }
    }

    .auth-forms {
      width: 50%;
      @include flex(row, center, nowrap, center);
      padding: 8rem 5rem;
      position: relative;

      .sign-up-form,
      .sign-in-form {
        width: 70%;
        position: absolute;
        right: 65%;
        opacity: 0;
        z-index: -1;
        transition: all 0.5s ease-in-out;
      }
    }
  }
}
