@import "../../styles.scss";

.auth-container {
  width: 60%;
  margin: 0 auto;
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  border-radius: 10px;

  .auth-text {
    width: 50%;
    padding: 5rem;
    margin: auto;
    color: $white;

    h2 {
      font-size: 2em;
    }

    p {
      margin-top: 2rem;
      font-size: 1.3em;
    }
  }

  .auth-forms {
    width: 50%;
    padding: 5rem;
  }
}
