<div class="sign-up-form-holder">
  <h2>Sign up</h2>
  <form>
    <div class="sign-up-form-grid">
      <div class="form-row">
        <label for="sign-up-fName">First name</label>
        <input type="text" name="firstName" id="sign-up-fName" />
      </div>
      <div class="form-row">
        <label for="sign-up-lName">Last name</label>
        <input type="text" name="lastName" id="sign-up-lName" />
      </div>
      <div class="form-row">
        <label for="sign-up-userPhone">Phone</label>
        <input type="tel" name="userPhone" id="sign-up-userPhone" />
      </div>
      <div class="form-row">
        <label for="sign-up-email">Email address</label>
        <input type="email" name="email" id="sign-up-email" />
      </div>
      <div class="form-row">
        <label for="sign-up-password">Password</label>
        <input type="password" name="password" id="sign-up-password" />
      </div>
      <div class="form-row">
        <label for="sign-up-passwordRetype">Password retype</label>
        <input
          type="password"
          name="passwordRetype"
          id="sign-up-passwordRetype"
        />
      </div>
    </div>
    <div class="form-row">
      <label for="sign-up-country">Choose your country</label>
      <select name="country" id="sign-up-country">
        <option value="0"></option>
        <option value="1">Serbia</option>
        <option value="2">Romania</option>
      </select>
    </div>
    <div class="form-row newsletter-row">
      <input type="checkbox" name="newsletter" id="newsletter" />
      <label for="newsletter"
        >Stay in the loop with our latest updates and exclusive offers by
        subscribing to our newsletter.</label
      >
    </div>
    <div class="form-row">
      <input type="submit" value="Sign up" class="btn btn-full-style" />
      <a class="form-switch-line" (click)="onShowSignIn()"
        >Already have an account? Sign in, now.</a
      >
    </div>
  </form>
</div>
