<div class="sign-up-form-holder">
  <h2>Sign up</h2>
  <form [formGroup]="signupForm" (ngSubmit)="signup()">
    <div class="sign-up-form-grid">
      <div class="form-row">
        <app-text-input
          [label]="'First name *'"
          [formControl]="$any(signupForm.controls['firstName'])"
        />
      </div>
      <div class="form-row">
        <app-text-input
          [label]="'Last name *'"
          [formControl]="$any(signupForm.controls['lastName'])"
        />
      </div>
      <div class="form-row">
        <app-text-input
          [type]="'tel'"
          [label]="'Phone number'"
          [formControl]="$any(signupForm.controls['phone'])"
        />
      </div>
      <div class="form-row">
        <app-text-input
          [type]="'email'"
          [label]="'Email address *'"
          [formControl]="$any(signupForm.controls['email'])"
        />
      </div>
      <div class="form-row">
        <app-text-input
          [type]="'password'"
          [label]="'Password *'"
          [formControl]="$any(signupForm.controls['password'])"
        />
      </div>
      <div class="form-row">
        <app-text-input
          [type]="'password'"
          [label]="'Confirm password *'"
          [formControl]="$any(signupForm.controls['confirmPassword'])"
        />
      </div>
    </div>
    <div class="form-row">
      <select formControlName="country">
        <option value="0">Country *</option>
        <!-- @for (country of (countries$ | async); track country) {
        <option value="{{ country.id }}">{{ country.country }}</option>
        } -->
      </select>
    </div>
    <div class="form-row newsletter-row">
      <input type="checkbox" id="newsletter" formControlName="newsletter" />
      <label for="newsletter"
        >Stay in the loop with our latest updates and exclusive offers by
        subscribing to our newsletter.</label
      >
    </div>
    <div class="form-row">
      <input
        type="submit"
        value="Sign up"
        class="btn btn-full-style"
        [disabled]="!signupForm.valid"
      />
      <a class="form-switch-line" (click)="onShowSignIn()"
        >Already have an account? Sign in, now.</a
      >
    </div>
  </form>
</div>
