<div class="sign-in-form-holder">
  <h2>Sign in</h2>
  <form>
    <div class="form-row">
      <label for="sign-in-email">Email address</label>
      <input type="email" name="email" id="sign-in-email" />
    </div>
    <div class="form-row">
      <label for="sign-in-password">Password</label>
      <input type="password" name="password" id="sign-in-password" />
      <a class="password-forgotten">Forgot your password?</a>
    </div>
    <div class="form-row">
      <input type="submit" value="Sign in" class="btn btn-full-style" />
      <a class="form-switch-line" (click)="onShowSignUp()"
        >Don't have an account? Sign up, now.</a
      >
    </div>
  </form>
</div>
