@import "../../../styles.scss";
.sign-in-form-holder {
  h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.8em;
  }

  form {
    .form-row {
      .password-forgotten {
        cursor: pointer;
        margin-top: 0.4rem;
        margin-left: auto;
        font-size: 0.9em;
        color: $blue;
        text-decoration: underline;
      }
    }
  }
}
