<header [ngClass]="{ headerAbsolute: isHomePage }">
  <div class="logo">
    <img src="assets/img/logo.png" alt="JourneyEase logo." routerLink="" />
  </div>
  <nav>
    <ul>
      <li routerLink="">
        <a>Home</a>
      </li>
      <li routerLink="/blog"><a>Blog</a></li>
      <li
        (mouseover)="aboutUsDropdownIsOpened = true"
        (mouseleave)="aboutUsDropdownIsOpened = false"
      >
        <a>About us</a><i class="fa-solid fa-angle-down"></i>
        <div
          class="dropdown-menu"
          [ngClass]="aboutUsDropdownIsOpened ? 'open' : 'hidden'"
        >
          <div class="dropdown-menu-item">
            <p>About JourneyEase</p>
          </div>
          <div class="dropdown-menu-item">
            <p>Testimonials</p>
          </div>
          <div class="dropdown-menu-item">
            <p>License</p>
          </div>
        </div>
      </li>
      <li><a>Destinations</a></li>
      <li routerLink="/faqs"><a>FAQs</a></li>
      <li><a>Contact</a></li>
      <li routerLink="/admin" *appHasRole="['Admin']">
        <a>Admin</a>
      </li>
    </ul>
  </nav>
  @if(authService.currentUser$ | async; as user){
  <div
    class="auth-div"
    (mouseover)="authDropdownIsOpened = true"
    (mouseleave)="authDropdownIsOpened = false"
  >
    <div class="auth-div-text">
      <h3>My account</h3>
      <i class="fa-solid fa-angle-down"></i>
    </div>
    <div
      class="dropdown-menu"
      [ngClass]="authDropdownIsOpened ? 'open' : 'hidden'"
    >
      <div class="dropdown-menu-item" routerLink="/profile">
        <p>My profile</p>
        <img
          src="assets/icons/account-circle.svg"
          alt="account circle svg icon"
        />
      </div>
      <div class="dropdown-menu-item" (click)="signout()">
        <p>Sign out</p>
        <img
          src="assets/icons/logout.svg"
          alt="logout svg icon"
          class="signout"
        />
      </div>
    </div>
  </div>
  } @else {
  <div class="auth">
    <button class="btn btn-empty-style" routerLink="/auth/sign-in">
      Sign in
    </button>
    <button class="btn btn-full-style" routerLink="/auth/sign-up">
      Sign up
    </button>
  </div>
  }
</header>
