@import "../../styles.scss";
header {
  @include flex(row, space-between, nowrap, center);
  padding: $section-padding;
  height: 120px;
  width: 100%;

  &.headerAbsolute {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .logo {
    height: 120px;
    overflow: hidden;
    @include flex(row, center, nowrap, center);
  }
  .logo img {
    width: 200px;
    cursor: pointer;
  }
  nav ul {
    @include flex(row, flex-start, nowrap, center);
    li {
      margin: 0 0.25rem;
      font-weight: bold;
      cursor: pointer;
      padding: 0.75rem 1rem;
      transition: $transition;

      i {
        margin-left: 0.5rem;
        position: relative;
        top: 3px;
      }
      &:hover {
        color: $light-green;
      }
    }
  }
  .auth {
    button {
      margin: 0 0.25rem;
    }
  }
  .auth-div {
    @include flex(row, flex-end, nowrap, center);
    width: auto;
    cursor: pointer;
    padding: 1rem;
    position: relative;
    z-index: 50;
    .auth-div-text {
      transition: 0.1s;
      @include flex(row, center, nowrap, center);
      font-size: 0.9em;
      margin-right: 0.25rem;
      i {
        margin-left: 0.5rem;
        position: relative;
        top: 3px;
      }
    }
    &:hover > .auth-div-text {
      color: $light-green;
    }

    .auth-dropdown-menu {
      position: absolute;
      top: 50px;
      right: 0;
      width: 225px;
      box-shadow: $box-shadow;
      cursor: default;
      background-color: $white;
      &::before {
        content: "";
        position: absolute;
        top: -20px;
        right: 16px;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-bottom: 10px solid $white;
        z-index: 50;
      }
      &::after {
        content: "";
        position: absolute;
        top: -8px;
        right: 19px;
        width: 14px;
        height: 14px;
        z-index: 49;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-right: none;
        border-bottom: none;
        transform: rotate(45deg);
      }

      @include flex(column, flex-start, nowrap, flex-start);
      .auth-dropdown-menu-item {
        @include flex(row, flex-start, nowrap, center);
        font-weight: bold;
        padding: 0 1rem;
        transition: $transition;
        width: 100%;
        margin: 0.75rem 0;
        cursor: default;
        p {
          width: 90%;
          color: $black;
          cursor: pointer;
          &:hover {
            color: $light-green;
          }
        }
        img {
          width: 22.5px;
          height: 22.5px;
          position: relative;
          margin-right: 5px;
          &.signout {
            right: -1px;
          }
        }
      }
    }
  }
}
