<header>
  <div class="logo">
    <img src="assets/img/logo.png" alt="JourneyEase logo." routerLink="" />
  </div>
  <nav>
    <ul>
      <li routerLink="">
        <a>Home</a>
      </li>
      <li><a>Blog</a></li>
      <li><a>About us</a><i class="fa-solid fa-angle-down"></i></li>
      <li><a>Destinations</a></li>
      <li><a>FAQs</a></li>
      <li><a>Contact</a></li>
    </ul>
  </nav>
  <div class="auth">
    <button class="btn btn-empty-style" routerLink="/auth/sign-in">
      Sign in
    </button>
    <button class="btn btn-full-style" routerLink="/auth/sign-up">
      Sign up
    </button>
  </div>
</header>
