@import "../../styles.scss";
header {
  @include flex(row, space-between, nowrap, center);
  padding: $section-padding;
  height: 120px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;

  .logo img {
    width: 200px;
    cursor: pointer;
  }
  nav ul {
    @include flex(row, flex-start, nowrap, center);
    li {
      margin: 0 0.25rem;
      font-weight: bold;
      cursor: pointer;
      padding: 0.75rem 1rem;
      transition: $transition;
      border-radius: $border-radius;
      i {
        margin-left: 0.5rem;
      }
      &:hover {
        background-color: rgba($light-grey, 0.5);
      }
    }
  }
  .auth {
    button {
      margin: 0 0.25rem;
    }
  }
}
