<div class="admin-body">
  <!-- #TODO Get the data from database -->
  <div class="admin-info-stats dashboard-info">
    <div class="admin-stats-block total-accounts-stats">
      <div class="admin-stats-icon-holder filter-first">
        <img
          src="../../../assets/icons/earth.svg"
          alt="Earth icon"
          class="filter-blue"
        />
      </div>
      <div class="stats-info">
        <h3>{{ countriesCount }}</h3>
        <p>Total countries</p>
      </div>
    </div>
    <div class="admin-stats-block logins-stats">
      <div class="admin-stats-icon-holder filter-second">
        <img
          src="../../../assets/icons/map-marker.svg"
          alt="Map marker icon"
          class="filter-orange"
        />
      </div>
      <div class="stats-info">
        <h3>?</h3>
        <p>Total places</p>
      </div>
    </div>
    <div class="admin-stats-block total-photographers-stats inactive-tab">
      <div class="admin-stats-icon-holder filter-third">
        <img
          src="../../../assets/icons/help-rhombus.svg"
          alt="Help rhombus icon"
          class="filter-green"
        />
      </div>
      <div class="stats-info">
        <h3>?</h3>
        <p>Not enough data...</p>
      </div>
    </div>
    <div class="admin-stats-block bookings-stats inactive-tab">
      <div class="admin-stats-icon-holder filter-fourth">
        <img
          src="../../../assets/icons/help-rhombus.svg"
          alt="Help rhombus icon"
          class="filter-red"
        />
      </div>
      <div class="stats-info">
        <h3>?</h3>
        <p>Not enough data...</p>
      </div>
    </div>
  </div>
  <div class="admin-data-body">
    <div class="admin-tab-row">
      <button
        class="admin-tab admin-tab-countries admin-tab-active"
        (click)="onToggleCountriesPlaces('countries')"
      >
        Countries
      </button>
      <button
        class="admin-tab admin-tab-places"
        (click)="onToggleCountriesPlaces('places')"
      >
        Places
      </button>
    </div>
    @if(selectedAdminTab === 'countries'){
    <form [formGroup]="insertForm" (ngSubmit)="onInsertCountry()">
      <table>
        <thead>
          <tr>
            @for (key of countryKeys; track key) {
            <th>{{ key }}</th>
            }
            <th>Operations</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td>
              <div class="form-row">
                <input
                  type="text"
                  name="countryName"
                  formControlName="countryName"
                />
              </div>
            </td>
            <td>
              <input
                type="submit"
                value="Insert"
                class="btn admin-insert-btn btn-full-style"
              />
            </td>
          </tr>
          @for (country of (countries$ | async); track country.countryId) {
          @if(country.countryId){
          <tr>
            <td>{{ country.countryId }}</td>
            @if(editingCountryIndex === undefined || editingCountryIndex !==
            country.countryId ){
            <td>{{ country.countryName }}</td>
            <td class="operation-td" (click)="onRowAction(country.countryId)">
              <div
                class="operations-menu hidden operations-menu-country-{{
                  country.countryId
                }}"
              >
                <span
                  class="admin-edit-span"
                  (click)="onEditCountryRow(country.countryId)"
                  >Edit</span
                >
                <span
                  class="admin-delete-span"
                  (click)="onDeleteCountryRow(country.countryId)"
                  >Delete</span
                >
              </div>
            </td>
            } @else {
            <td>
              <div class="form-row">
                <input
                  type="text"
                  [placeholder]="country.countryName"
                  name="editCountry"
                  formControlName="editCountry"
                />
              </div>
            </td>
            <td class="edit-operation-td">
              <div
                class="edit-mark edit-checkmark"
                (click)="onEditCountry(country.countryId)"
              >
                &check;
              </div>
              <div class="edit-mark edit-xmark" (click)="onEditCancel()">
                &#x2717;
              </div>
            </td>
            }
          </tr>
          } }
        </tbody>
      </table>
    </form>
    } @else { @defer (when selectedAdminTab === 'places') { ovde trebaju mesta
    da se stave } }
  </div>
</div>
